{% extends 'modal_base.html' %}

{% block 'modal-header'%}
Detalhes do Fornecedor
{% endblock %}

{% block 'modal-content'%}
<div class=" divide-y divide-gray-600 text-md">
    <div class="grid grid-cols-2">
        <div class="py-3"><strong>Nome</strong> <p class="text-zinc-200"> {{ supplier.nome }}</p></div>
        <div class="py-3"><strong>Email</strong> <p class="text-zinc-200"> {{ supplier.email }}</p></div>
    </div>
    <div class="grid grid-cols-2">
        <div class="py-3"><strong>Telefone</strong> <p class="text-zinc-200"> {{ supplier.telefone_formatado }}</p></div>
        <div class="py-3"><strong>Documento</strong> <p class="text-zinc-200"> {{ supplier.documento }}</p></div>
    </div>
    <div class="grid grid-cols-2">
        <div class="py-3"><strong>Tipo Pessoa</strong>             
            <p class="mt-1.5"><span class="text-sm font-medium px-2.5 py-0.5 rounded-full border
                    {% if supplier.tipo_pessoa|title == 'Fisica' %}bg-cyan-900 text-cyan-300 border-cyan-700
                    {% else %} bg-emerald-700 -800 text-emerald-300 border-emerald-500 {% endif %}
                    ">{{supplier.tipo_pessoa|title}}
            </span></p>      
        </div>
        <div class="py-3"><strong>Endereço</strong> <p class="text-zinc-200"> {{ supplier.endereco }}</p></div>
    </div>

</div>
{% endblock %}

{% block 'modal-footer'%}
<p class="text-zinc-200 text-sm"> Cadastrado em {{ supplier.data_cadastro }} </p>
{% endblock %}

