{% extends "users.html" %}
{%load static %}

{%block 'title-body'%}Consulta de usuários{%endblock%}
{%block 'title'%}Usuários - Consulta{%endblock%}

{% block 'content' %}


{%include 'users/user_list_table.html'%}


{% endblock %}

{% block 'modals' %}
<!-- View modal -->
<div id="view-modal" tabindex="-1" aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full delay-700">
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div id="view-modal-content">

    </div>
  </div>
</div>

{% endblock %}