{% extends 'modal_base.html' %}
{%load static%}

{% block 'modal-header'%}
Detalhes do Usuário
{% endblock %}

{% block 'modal-content'%}
<div class=" divide-y divide-gray-600 text-md" >
    <div class="mx-auto mb-8 shadow border-8 h-40 w-40 rounded-full {% if user.is_active %}border-green-500/70{% else %}border-red-500/70{% endif %}">
        <img src="{% if user.foto == '' %}{% static 'general/img/perfil.png' %}{% else %}/media/{{ user.foto }}{% endif %}" alt="Foto do Usuário" class="h-full w-full rounded-full "/>
    </div>
    {% comment %} <div> {% endcomment %}
        <div class="grid grid-cols-2">
            <div class="py-3"><strong>Nome</strong> <p class="text-zinc-200">{{ user.first_name }} {{ user.last_name }}</p></div>
            <div class="py-3"><strong>Nome de usuário</strong> <p class="text-zinc-200"> {{ user.username }}</p></div>
        </div>
        <div class="grid grid-cols-2">
            <div class="py-3"><strong>Email</strong> <p class="text-zinc-200"> {{ user.email }}</p></div>
            <div class="py-3"><strong>Telefone</strong> <p class="text-zinc-200"> {{ user.telefone_formatado }}</p></div>
        </div>
        <div class="grid grid-cols-2">
            <div class="py-3"><strong>OAB</strong> <p class="text-zinc-200"> {{ user.oab  }}</p></div>
            <div class="py-3"><strong>Seccional OAB</strong> <p class="text-zinc-200"> {{ user.seccional_oab }}</p></div>
        </div>
        <div class="grid grid-cols-2">
            <div class="py-3"><strong>Estado Civil</strong> <p class="text-zinc-200"> {{  user.estado_civil }}</p></div>
            <div class="py-3"><strong>Especialidade</strong> <p class="text-zinc-200"> {{ user.especialidade }}</p></div>
        </div>
        <div class="grid grid-cols-2">
            <div class="py-3"><strong>Nacionalidade</strong> <p class="text-zinc-200"> {{ user.nacionalidade }}</p></div>
            <div class="py-3"><strong>Nivel</strong>             
                <p class="mt-1.5"><span class="text-sm font-medium px-2.5 py-0.5 rounded-full border
                        {% if user.is_superuser %}bg-red-900 text-red-300 border-red-700 "> Admin
                        {% else %} bg-emerald-700 -800 text-emerald-300 border-emerald-500 "> Escritório{% endif %}
                        
                </span></p>      
            </div>
        </div>
        <div class="grid grid-cols-2">
            <div class="py-3"><strong>Endereço</strong> <p class="text-zinc-200"> {{ user.endereco }}</p></div>
        </div>
        {% comment %} </div> {% endcomment %}

</div>
{% endblock %}

{% block 'modal-footer'%}

{% endblock %}
