{% extends "users.html" %}
{%load static %}

{% block 'content' %}
<!-- <h1>Lista de Usuários</h1>
{% if request.user.is_superuser %}
<a href="{% url 'user-create' %}">Criar Novo Usuário</a>
{% endif %}
<ul>
  {% for user in users %}
  <li>
    {{ user.username }} - {{ user.email }}
    <a href="{% url 'user-detail' user.pk %}">Ver Detalhes</a>
    {% if request.user.is_superuser or user == request.user %}
    <a href="{% url 'user-update' user.pk %}">Editar</a>
    {% endif %} {% if request.user.is_superuser %}
    <a href="{% url 'user-delete' user.pk %}">Excluir</a>
    {% endif %}

    <a href="">Logout</a>
  </li>
  {% endfor %}
</ul> -->

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <div class=" flex items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 p-4 
         backdrop-blur-sm bg-white/5">
    <div class="flex gap-2">
      <button id="dropdownActionButton" data-dropdown-toggle="dropdownAction" class="inline-flex items-center border text-sm px-3 py-1.5 font-medium rounded-lg 
                hover:bg-gray-700 hover:border-gray-600 
                focus:ring-4 focus:outline-none focus:ring-gray-700 
                bg-gray-800 text-gray-400 border-gray-600 " type="button">
        Ação
        <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 4 4 4-4" />
        </svg>
      </button>

      <button class="block text-white font-medium rounded-lg text-sm px-5 py-1.5 text-center
              focus:ring-4 focus:outline-none   
              bg-green-600 hover:bg-green-700 focus:ring-green-800" type="button" onclick="LoadPageInModal(this)"
        data-modal-target="view-modal" data-modal-show="view-modal" data-url="{% url 'user-create'%}">
        Criar novo usuário
      </button>

      <!-- Dropdown menu -->
      <div id="dropdownAction" class="z-10 hidden divide-y rounded-lg shadow w-44 bg-gray-700 divide-gray-600">
        <ul class="py-1 text-sm text-gray-300" aria-labelledby="dropdownActionButton">
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-600 hover:text-white">Ativar
              usuário</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-600 hover:text-white">Desativar
              usuário</a>
          </li>
        </ul>
        <div class="py-1">
          <a href="#" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white">Deletar
            usuário</a>
        </div>
      </div>
    </div>
    <label for="table-search" class="sr-only">Buscar</label>
    <div class="relative">
      <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
        </svg>
      </div>
      <input type="text" id="table-search" onkeyup="FiltrarTabela(this)" class="block pt-2 ps-10 text-sm border rounded-lg w-80 focus:ring-blue-500  
               bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
        placeholder="Buscar">
    </div>
  </div>
  <table class="w-full text-sm text-left rtl:text-right text-gray-400">
    <thead class="text-xs uppercase bg-gray-700 text-gray-400">
      <tr>
        <th scope="col" class="p-4">
          <div class="flex items-center">
            <input id="checkbox-all-search" type="checkbox"
              class="w-4 h-4 text-blue-600 border-gray-300 rounded focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
            <label for="checkbox-all-search" class="sr-only">checkbox</label>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">
          Nome
        </th>
        <th scope="col" class="px-6 py-3">
          Telefone
        </th>
        <th scope="col" class="px-6 py-3">
          Nível
        </th>
        <th scope="col" class="px-6 py-3">
          Ações
        </th>
      </tr>
    </thead>
    <tbody id="table-body">
      {% for user in users %}
      <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-50 hover:bg-gray-600">
        <td class="w-4 p-4">
          <div class="flex items-center">
            <input id="checkbox-user-{{user.id}}" type="checkbox"
              class="w-4 h-4 text-blue-600 rounded focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
            <label for="checkbox-user-{{user.id}}" class="sr-only">checkbox</label>
          </div>
        </td>
        <!-- Nome -->
        <th scope="row" class="flex items-center px-6 py-4 whitespace-nowrap text-white">

          <img
            class="w-10 h-10 rounded-full ring-4 {% if user.is_active %} ring-green-500 {% else %} ring-red-500 {% endif %}"
            src="{% if user.foto == '' %}{% static 'general/img/perfil.png' %}{% else %}/media/{{ user.foto }}{% endif %}"
            alt="{{ user.username }}" />


          <div class="ps-3">
            <div class="text-base font-semibold">{{user.username}}</div>
            <div class="font-normal text-gray-500">{{user.email}}</div>
          </div>
        </th>
        <!-- Telefone -->
        <td class="px-6 py-4">
          {{user.telefone}}
        </td>
        <!-- Nível -->
        <td class="px-6 py-4">
          <div class="flex items-center">
            {% if user.is_superuser %}
            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded-full bg-red-900 text-red-300">Admin</span>
            {% else %}
            <span
              class="text-xs font-medium me-2 px-2.5 py-0.5 rounded-full bg-blue-900 text-blue-300">Escritório</span>
            {% endif %}
          </div>
</div>
</td>
<td class="px-6 py-4">
  <!-- Modal toggle -->
  <div class="flex gap-2">
    <a href="#" type="button" class="font-medium text-yellow-500 hover:underline" onclick="LoadPageInModal(this)"
      data-modal-target="view-modal" data-modal-toggle="view-modal"
      data-url="{% url 'user-update' pk=user.pk%}">Editar</a>
    <a href="#" type="button" class="font-medium text-blue-500 hover:underline">Detalhes</a>
    <a href="#" type="button" class="font-medium text-green-500 hover:underline">Permissões</a>
  </div>
</td>
</tr>
{% endfor %}
</tbody>
</table>

</div>

{% endblock %}

{% block 'modals' %}
<!-- View modal -->
<div id="view-modal" tabindex="-1" aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div id="view-modal-content">

    </div>
  </div>
</div>

{% endblock %}