{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'general/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'general/css/general.css' %}" />
    <link rel="shortcut icon" href="{% static 'general/img/favicon.png' %}"
      type="image/x-icon">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    {% block 'head' %}{% endblock %}

    <title>{% block 'title' %}{% endblock %}</title>
  </head>

  <body>
    <div id="body"
      class="absolute bg-gradient-to-tl from-zinc-800 to-slate-900 text-white w-full min-h-screen">

      <header
        id="header"
        class="fixed top-0 z-50 
              flex items-center justify-between 
              backdrop-blur-sm bg-white/5 border-b
              h-14 w-[100%]">
        <button
          class="mx-4 hover:text-gray-100 text-gray-400"
          onclick="toggleSidebar()">
          <div id="toggle-x" class="hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12" />
            </svg>
          </div>

          <div id="toggle-hambuguer" class="flex">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
          </div>
        </button>

        <div class="flex items-center">
          <div class="flex items-center ms-3">
            <div>
              <button type="button"
                class="flex text-sm bg-gray-800 mr-4 rounded-full focus:ring-4 focus:ring-[--var(--main-color)]"
                aria-expanded="false" data-dropdown-toggle="dropdown-user"
                onclick="toggleHidden('dropdown-user')">
                <span class="sr-only">Abrir menu do usuário</span>
                <img class="w-8 h-8 rounded-full"
                  src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
                  alt="user photo">
              </button>
            </div>
            <div
              class="hidden my-2 text-base divide-y rounded backdrop-blur-sm bg-white/5 "
              id="dropdown-user">
              <div class="px-4 py-3" role="none">
                <p class="text-sm text-gray-300 " role="none">
                  Usuário teste
                </p>
                <p
                  class="text-sm font-medium text-gray-300 truncate"
                  role="none">
                  usuario.teste@email.com
                </p>
              </div>
              <ul class="py-1" role="none">
                <li>
                  <a href="#"
                    class="no-underline block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white"
                    role="menuitem"><i class="fa fa-user mr-2"
                      aria-hidden="true"></i>Perfil</a>
                </li>
                <li>
                  <a href="#"
                    class="no-underline block px-4 py-2 text-gray-300 text-sm hover:bg-gray-600 hover:text-white"
                    role="menuitem"><i class="fa fa-cog mr-2"
                      aria-hidden="true"></i>Settings</a>
                </li>
                <li>
                  <a href="{% url 'logout' %}"
                    class="no-underline block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white"
                    role="menuitem"><i class="fa fa-sign-out mr-2"
                      aria-hidden="true"></i>Sign out</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </header>

      <aside
        id="sidebar"
        class=" fixed left-0 top-14 z-40 -translate-x-full transition-transform sm:translate-x-0
                h-screen backdrop-blur-sm bg-white/5 
                 w-64 fixed
                 sm:block sm:hover:w-64
                 transition-all ease-in-out duration-600
                 last:mb-8
                 overflow-x-auto group ">
        <ul
          class="font-medium text-1xl w-full py-4 justify-content-center items-center ">

          <li
            class="hover:bg-gray-700 ">
            <a
              href="{% url 'customer-list' %}"
              class="no-underline flex w-full min-h-12 items-center text-white rounded-lg px-4 py-2">
              <i class="fa-solid fa-house"></i>
              <span
                class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Dashboard</span>
            </a>
          </li>
          <!-- space -->
          <li class="navdropdown-submenu"
            onclick="toggleSubMenu(this)">
            <a
              class="no-underline flex w-full min-h-12 items-center text-white px-4 py-2
                       relative
                       hover:bg-gray-700">
              <i class="fa-solid fa-users"></i>
              <span
                class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Pessoas
              </span>
              <i id="toggle-icon"
                class="toggle-icon group-hover:block fa-solid fa-chevron-up absolute right-4 transition-all duration-600"></i>
            </a>
            <ul
              class="slide-menu text-sm overflow-hidden whitespace-nowrap border-solid border-s-4 h-0 group-hover:block">
              <li class="slide-item">
                <a class="slide-item-link w-full block"
                  href="{% url 'customer-list' %}">
                  Constituintes

                </a>
              </li>
              <li class="slide-item">
                <a class="slide-item-link w-full block"
                  href="{% url 'user-list' %}">
                  Usuários
                </a>
              </li>
              <li class="slide-item">
                <a class="slide-item-link w-full block"
                  href>
                  Profissionais
                </a>
              </li>
              <li class="slide-item">
                <a class="slide-item-link w-full block"
                  href>
                  Fornecedores
                </a>
              </li>
            </ul>
          </li>
          <!-- space -->
          <li class="navdropdown-submenu"
            onclick="toggleSubMenu(this)">
            <a
              class="no-underline hover:bg-gray-700 flex w-full min-h-12 items-center text-white px-4 py-2">
              <i class="fa-solid fa-folder-plus"></i>
              <span
                class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Cadastros</span>
              <i id="toggle-icon"
                class="toggle-icon group-hover:block fa-solid fa-chevron-up absolute right-4 transition-all duration-600"></i>
            </a>

            <ul
              class="slide-menu text-sm overflow-hidden whitespace-nowrap border-solid border-s-4 h-0">
              <li class="slide-item"><a class="slide-item-link w-full block"
                  href="#">
                  Formas
                  Pgto</a></li>
              <li class="slide-item"><a class="slide-item-link w-full block"
                  href="#">Frequências</a></li>
              <li class="slide-item"><a class="slide-item-link w-full block"
                  href="#">
                  Cargos</a></li>
              <li class="slide-item"><a class="slide-item-link w-full block"
                  href="#">
                  Serviços
                  Prestados</a></li>
              <li class="slide-item"><a class="slide-item-link w-full block"
                  href="#">
                  Modelos de
                  Contratos</a></li>
            </ul>
          </li>
          <!-- space -->
          <li class="navdropdown-submenu"
            onclick="toggleSubMenu(this)">
            <a
              class="no-underline hover:bg-gray-700 flex w-full min-h-12 min-w-12 items-center text-white px-4 py-2 ">
              <i class="ml-1 fa-solid fa-dollar-sign"></i>
              <span
                class="nav-item-name ml-2 ms-3 text-md whitespace-nowrap group-hover:block">Financeiro</span>
              <i id="toggle-icon"
                class="toggle-icon group-hover:block fa-solid fa-chevron-up absolute right-4 transition-all duration-600"></i>
            </a>

            <ul
              class="slide-menu text-sm overflow-hidden whitespace-nowrap border-solid border-s-4 h-0">
              <li class="slide-item">
                <a href="#" class="slide-item-link w-full block">Receber</a>
              </li>
              <li class="slide-item">
                <a href="#" class="slide-item-link w-full block">Despesas</a>
              </li>
            </ul>
          </li>
          <!-- space -->
          <li class="navdropdown-submenu"
            onclick="toggleSubMenu(this)">
            <a
              class="no-underline hover:bg-gray-700 flex w-full min-h-12 min-w-12 items-center text-white px-4 py-2 ">
              <i class="ml-1 fa-solid fa-file-text"></i>
              <span
                class="nav-item-name ml-2 ms-3 text-md whitespace-nowrap group-hover:block">Relatórios</span>
              <i id="toggle-icon"
                class="toggle-icon group-hover:block fa-solid fa-chevron-up absolute right-4 transition-all duration-600"></i>
            </a>

            <ul
              class="slide-menu text-sm overflow-hidden whitespace-nowrap border-solid border-s-4 h-0">
              <li class="slide-item">
                <a class="slide-item-link w-full block">Financeiro</a>
              </li>
              <li class="slide-item">
                <a class="slide-item-link w-full block">Sintético Receber</a>
              </li>
              <li class="slide-item">
                <a class="slide-item-link w-full block">Balanço Anual</a>
              </li>
              <li class="slide-item">
                <a class="slide-item-link w-full block">Inadimplementes</a>
              </li>

            </ul>
          </li>
          <!-- space -->
          <li class="hover:bg-gray-700 ">
            <a
              href="{% url 'customer-list' %}"
              class="no-underline flex w-full min-h-12 items-center text-white rounded-lg px-4 py-2">
              <i class="fa-solid fa-cart-shopping"></i>
              <span
                class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Caixas</span>
            </a>
          </li>
          <!-- space -->
          <li
            class="hover:bg-gray-700 ">
            <a
              href="{% url 'task-list' %}"
              class="no-underline flex w-full min-h-12 items-center text-white rounded-lg px-4 py-2">
              <i class="fa-solid fa-calendar-days"></i>
              <span
                class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Tarefas
                /
                Agenda</span>
            </a>
          </li>
          <!-- space -->
          <li
            class="hover:bg-gray-700 ">
            <a
              href="{% url 'customer-list' %}"
              class="no-underline flex w-full min-h-12 items-center text-white rounded-lg px-4 py-2">
              <i class="fa-solid fa-file-circle-plus"></i>
              <span
                class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Abertura
                de Contratos</span>
            </a>
          </li>
          <!-- space -->
          <li class="hover:bg-gray-700 ">
            <a
              href="{% url 'customer-list' %}"
              class="no-underline flex w-full min-h-12 items-center text-white rounded-lg px-4 py-2">
              <i class="fa-solid fa-file-pen"></i>
              <span
                class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Gerar
                Contrato</span>
            </a>
          </li>
          <!-- space -->
          <li class="hover:bg-gray-700 ">
            <a
              href="{% url 'customer-list' %}"
              class="no-underline flex w-full min-h-12 items-center text-white rounded-lg px-4 py-2">
              <i class="fa-solid fa-scale-balanced"></i>
              <span
                class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Processos</span>
            </a>
          </li>
          <!-- space -->
          <li class="hover:bg-gray-700 ">
            <a
              href="{% url 'customer-list' %}"
              class="no-underline flex w-full min-h-12 items-center text-white rounded-lg px-4 py-2">
              <i class="fa-solid fa-scale-unbalanced"></i>
              <span
                class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Processos
                Andamento</span>
            </a>
          </li>
          <!-- space -->
          <li class="hover:bg-gray-700 ">
            <a
              href="{% url 'customer-list' %}"
              class="no-underline flex w-full min-h-12 items-center text-white rounded-lg px-4 py-2">
              <i class="fa-solid fa-calendar"></i>
              <span
                class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Audiências</span>
            </a>
          </li>
          <!-- space -->
        </ul>
      </aside>

      <div id="conteudo"
        class="mt-14 p-4
               backdrop-blur-sm   
               sm:ml-64">
        {% block 'content' %}{% endblock %}

      </div>

    </div>

    {% block 'modals' %}{% endblock %}

    <script src="{% static 'general/js/base.js' %}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    {% block 'scripts' %}{% endblock %}

  </body>
</html>
