{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'general/css/base.css' %}" />
  <link rel="stylesheet" href="{% static 'general/css/general.css' %}" />
  <link rel="shortcut icon" href="{% static 'general/img/favicon.png' %}" type="image/x-icon">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="https://cdn.tailwindcss.com"></script>
  {% block 'head' %}{% endblock %}

  <title>{% block 'title' %}{% endblock %}</title>
</head>

<body>
  <div id="body" class="absolute bg-gradient-to-tl from-zinc-800 to-slate-900 text-white w-full min-h-screen">

    <header id="header" class="fixed top-0 z-50 
              flex items-center justify-between 
              backdrop-blur-sm bg-white/5 border-b border-zinc-600
              h-14 w-[100%]">
      <button class="mx-4 hover:text-gray-100 text-gray-400" onclick="toggleSidebar()">
        <div id="toggle-x" class="hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>

        <div id="toggle-hambuguer" class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
        </div>
      </button>

      <div class="flex items-center text-white">
        <div class="flex items-center ms-3">
          <div>
            <button type="button"
              class="flex text-sm bg-gray-800 mr-8 rounded-full focus:ring-4 focus:ring-[var(--main-color)]"
              aria-expanded="false" data-dropdown-toggle="dropdown-user" onclick="toggleHidden('dropdown-user')">
              <span class="sr-only">Abrir menu do usuário</span>
              <img class="w-8 h-8 rounded-full"
                src="{% if user.foto == '' %}{% static 'general/img/perfil.png' %}{% else %}/media/{{ user.foto }}{% endif %}"
                alt="{{ user.username }}">
            </button>
          </div>
          <div class="hidden my-2 text-base divide-y rounded border border-zinc-600 bg-zinc-700/70" id="dropdown-user">
            <div class="px-4 py-3" role="none">
              <p class="text-sm  " role="none">
                {{user.username}}
              </p>
              <p class="text-sm font-medium text-gray-300 truncate" role="none">
                {{user.email}}
              </p>
            </div>
            <ul class="py-1" role="none">
              <li>
                <a href="#"
                  class="no-underline block px-4 py-2 text-sm  hover:bg-gray-600 hover:text-white"
                  role="menuitem"><i class="fa fa-user mr-2" aria-hidden="true"></i>Perfil</a>
              </li>
              <li>
                <a href="#"
                  class="no-underline block px-4 py-2  text-sm hover:bg-gray-600 hover:text-white"
                  role="menuitem"><i class="fa fa-cog mr-2" aria-hidden="true"></i>Configurações</a>
              </li>
              <li>
                <form action="{% url 'logout' %}" method="post"
                  class=" hover:bg-gray-600 hover:text-white ">
                  {% csrf_token %}
                  <button type="submit">
                    <a class="no-underline block px-4 py-2 text-sm" role="menuitem"><i class="fa fa-sign-out mr-2"
                        aria-hidden="true"></i>Logout</a>
                  </button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </header>

    <aside id="sidebar" class=" fixed left-0 top-14 z-40 -translate-x-full sm:translate-x-0
                h-screen backdrop-blur-sm bg-white/5 
                 w-64 fixed
                 sm:block sm:hover:w-64
                 transition-all ease-in-out duration-600
                 last:mb-8
                 overflow-x-auto group ">
      <ul class="font-medium text-1xl w-full py-4 justify-content-center items-center ">

        <li class="hover:bg-gray-700 ">
          <a href="{% url 'customer-list' %}"
            class="no-underline flex w-full min-h-12 items-center text-white rounded-lg px-4 py-2">
            <i class="fa-solid fa-house"></i>
            <span class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Dashboard</span>
          </a>
        </li>
        <!-- space -->
        <li class="navdropdown-submenu" onclick="toggleSubMenu(this)">
          <a class="no-underline flex w-full min-h-12 items-center text-white px-4 py-2
                       relative
                       hover:bg-gray-700">
            <i class="fa-solid fa-users"></i>
            <span class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Pessoas
            </span>
            <i id="toggle-icon"
              class="toggle-icon group-hover:block fa-solid fa-chevron-down absolute right-4 transition-all duration-600"></i>
          </a>
          <ul
            class="slide-menu text-sm overflow-hidden whitespace-nowrap border-solid border-s-4 h-0 group-hover:block">
            <li class="slide-item">
              <a class="slide-item-link w-full block" href="{% url 'customer-list' %}">
                Constituintes

              </a>
            </li>
            <li class="slide-item">
              <a class="slide-item-link w-full block" href="{% url 'user-list' %}">
                Usuários
              </a>
            </li>
            <li class="slide-item">
              <a class="slide-item-link w-full block" href>
                Profissionais
              </a>
            </li>
            <li class="slide-item">
              <a class="slide-item-link w-full block" href>
                Fornecedores
              </a>
            </li>
          </ul>
        </li>
        <!-- space -->
        <li class="navdropdown-submenu" onclick="toggleSubMenu(this)">
          <a class="no-underline hover:bg-gray-700 flex w-full min-h-12 items-center text-white px-4 py-2">
            <i class="fa-solid fa-folder-plus"></i>
            <span class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Cadastros</span>
            <i id="toggle-icon"
              class="toggle-icon group-hover:block fa-solid fa-chevron-down absolute right-4 transition-all duration-600"></i>
          </a>

          <ul class="slide-menu text-sm overflow-hidden whitespace-nowrap border-solid border-s-4 h-0">
            <li class="slide-item"><a class="slide-item-link w-full block" href="#">
                Formas
                Pgto</a></li>
            <li class="slide-item"><a class="slide-item-link w-full block" href="#">Frequências</a></li>
            <li class="slide-item"><a class="slide-item-link w-full block" href="#">
                Cargos</a></li>
            <li class="slide-item"><a class="slide-item-link w-full block" href="#">
                Serviços
                Prestados</a></li>
            <li class="slide-item"><a class="slide-item-link w-full block" href="#">
                Modelos de
                Contratos</a></li>
          </ul>
        </li>
        <!-- space -->
        <li class="navdropdown-submenu" onclick="toggleSubMenu(this)">
          <a class="no-underline hover:bg-gray-700 flex w-full min-h-12 min-w-12 items-center text-white px-4 py-2 ">
            <i class="ml-1 fa-solid fa-dollar-sign"></i>
            <span class="nav-item-name ml-2 ms-3 text-md whitespace-nowrap group-hover:block">Financeiro</span>
            <i id="toggle-icon"
              class="toggle-icon group-hover:block fa-solid fa-chevron-down absolute right-4 transition-all duration-600"></i>
          </a>

          <ul class="slide-menu text-sm overflow-hidden whitespace-nowrap border-solid border-s-4 h-0">
            <li class="slide-item">
              <a href="#" class="slide-item-link w-full block">Receber</a>
            </li>
            <li class="slide-item">
              <a href="#" class="slide-item-link w-full block">Despesas</a>
            </li>
          </ul>
        </li>
        <!-- space -->
        <li class="navdropdown-submenu" onclick="toggleSubMenu(this)">
          <a class="no-underline hover:bg-gray-700 flex w-full min-h-12 min-w-12 items-center text-white px-4 py-2 ">
            <i class="ml-1 fa-solid fa-file-text"></i>
            <span class="nav-item-name ml-2 ms-3 text-md whitespace-nowrap group-hover:block">Relatórios</span>
            <i id="toggle-icon"
              class="toggle-icon group-hover:block fa-solid fa-chevron-down absolute right-4 transition-all duration-600"></i>
          </a>

          <ul class="slide-menu text-sm overflow-hidden whitespace-nowrap border-solid border-s-4 h-0">
            <li class="slide-item">
              <a class="slide-item-link w-full block">Financeiro</a>
            </li>
            <li class="slide-item">
              <a class="slide-item-link w-full block">Sintético Receber</a>
            </li>
            <li class="slide-item">
              <a class="slide-item-link w-full block">Balanço Anual</a>
            </li>
            <li class="slide-item">
              <a class="slide-item-link w-full block">Inadimplementes</a>
            </li>

          </ul>
        </li>
        <!-- space -->
        <li class="hover:bg-gray-700 ">
          <a href="{% url 'customer-list' %}"
            class="no-underline flex w-full min-h-12 items-center text-white rounded-lg px-4 py-2">
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Caixas</span>
          </a>
        </li>
        <!-- space -->
        <li class="hover:bg-gray-700 ">
          <a href="{% url 'task-list' %}"
            class="no-underline flex w-full min-h-12 items-center text-white rounded-lg px-4 py-2">
            <i class="fa-solid fa-calendar-days"></i>
            <span class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Tarefas
              /
              Agenda</span>
          </a>
        </li>
        <!-- space -->
        <li class="hover:bg-gray-700 ">
          <a href="{% url 'customer-list' %}"
            class="no-underline flex w-full min-h-12 items-center text-white rounded-lg px-4 py-2">
            <i class="fa-solid fa-file-circle-plus"></i>
            <span class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Abertura
              de Contratos</span>
          </a>
        </li>
        <!-- space -->
        <li class="hover:bg-gray-700 ">
          <a href="{% url 'customer-list' %}"
            class="no-underline flex w-full min-h-12 items-center text-white rounded-lg px-4 py-2">
            <i class="fa-solid fa-file-pen"></i>
            <span class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Gerar
              Contrato</span>
          </a>
        </li>
        <!-- space -->
        <li class="hover:bg-gray-700 ">
          <a href="{% url 'customer-list' %}"
            class="no-underline flex w-full min-h-12 items-center text-white rounded-lg px-4 py-2">
            <i class="fa-solid fa-scale-balanced"></i>
            <span class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Processos</span>
          </a>
        </li>
        <!-- space -->
        <li class="hover:bg-gray-700 ">
          <a href="{% url 'customer-list' %}"
            class="no-underline flex w-full min-h-12 items-center text-white rounded-lg px-4 py-2">
            <i class="fa-solid fa-scale-unbalanced"></i>
            <span class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Processos
              Andamento</span>
          </a>
        </li>
        <!-- space -->
        <li class="hover:bg-gray-700 ">
          <a href="{% url 'customer-list' %}"
            class="no-underline flex w-full min-h-12 items-center text-white rounded-lg px-4 py-2">
            <i class="fa-solid fa-calendar"></i>
            <span class="nav-item-name ms-3 text-md whitespace-nowrap group-hover:block">Audiências</span>
          </a>
        </li>
        <!-- space -->
      </ul>
    </aside>

    <div id="conteudo" class="mt-14 p-4
               backdrop-blur-sm   
               sm:ml-64">

      <div id="block-content">
        {% block 'content' %}{% endblock %}
      </div>

     

    </div>

    <!-- Notificações toast -->
    <div class="fixed top-14 right-0 px-8 w-[30rem]">
      {% if messages %}
      {% for message in messages %}

      <div id="toast-success{{forloop.counter0}}"
        class="flex items-center w-full p-4 mt-4 
        border border-gray-700 shadow-sm shadow-gray-700 animate-bounce
        text-gray-500 bg-white rounded-lg dark:text-gray-400 dark:bg-gray-800"
        role="alert">
        <div
          class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
          </svg>
          <span class="sr-only">Check icon</span>
        </div>
        <div class="ms-3 text-sm font-normal">{{ message }}</div>
        <button type="button"
          class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
          data-dismiss-target="#toast-success{{forloop.counter0}}" aria-label="Close">
          <span class="sr-only">Close</span>
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
        </button>
      </div>

      {% endfor %}
      {% endif %}
    </div>

  </div>

  {% block 'modals' %}{% endblock %}

  <script src="{% static 'general/js/base.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  {% block 'scripts' %}{% endblock %}

</body>

</html>