<div id="block-content">
    <div id="table-list" class="relative shadow-sm overflow-hidden shadow-gray-600 md:rounded-lg">
        <div class=" flex items-center justify-center lg:justify-between flex-column lg:flex-row flex-wrap gap-y-4 p-4 
            backdrop-blur-sm bg-white/5">
            
            <!-- Lado esquerdo -->
            <div class="flex gap-4 md:gap-2">
                <button id="dropdownActionButton" data-dropdown-toggle="dropdownAction" class="inline-flex items-center border text-sm px-3 py-1.5 pl-6 font-medium rounded-lg 
                    hover:bg-gray-700 hover:border-gray-600 
                    focus:ring-4 focus:outline-none focus:ring-gray-700 
                    bg-gray-800 text-gray-400 border-gray-600" type="button">
                    Ação
                    <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
                </button>

                <button class="block text-white font-medium rounded-lg text-sm px-12 md:px-5 py-1.5 text-center
                    focus:ring-4 focus:outline-none   
                    bg-green-600 hover:bg-green-700 focus:ring-green-800" type="button" onclick="LoadPageInModal(this)"
                    data-modal-target="view-modal" data-modal-show="view-modal" data-url="{% block 'url-model-create' %}{% endblock %}">
                    Criar novo {{name_model|lower}}
                </button>
                
                {% block 'dropdown-actions' %}{% endblock %}               
            </div>


            <!-- Lado direito -->
            <div name="right-side" class="ml-2 relative flex gap-4">
                <button id="dropdownExportBtn" data-dropdown-toggle="dropdownExport" 
                class="relative flex items-center w-24 gap-2 rounded-lg bg-blue-600 px-3 py-2 hover:bg-blue-700">
                    <i class="fa fa-file text-white" aria-hidden="true"></i>
                    <p class="text-sm text-white">Exportar</p>
                </button>

                <div id="dropdownExport" class="absolute hidden w-24">
                    <ul>
                    <li>
                        <button data-url="{% block 'url-model-export-pdf' %}{% endblock %}" onclick="SendExport(this)"  class="flex items-center gap-2 place-self-stretch rounded-t-lg bg-red-600 px-3 py-2 hover:bg-red-700">
                        <i class="fa fa-file-pdf text-white" aria-hidden="true"></i>
                        <p class="text-sm text-white">PDF</p>
                        </button>
                    </li>
                    <li>
                        <button data-url="{% block 'url-model-export-csv' %}{% endblock %}" onclick="SendExport(this)" class="jus flex items-center gap-2 place-self-stretch rounded-b-lg bg-green-600 px-3 py-2 hover:bg-green-700">
                        <i class="fa fa-file-text text-white" aria-hidden="true"></i>
                        <p class="text-sm text-white">CSV</p>
                        </button>
                    </li>
                    </ul>
                </div>

                <label for="table-search" class="sr-only">Buscar</label>
                <div class="relative">
                    <div class="rtl:inset-r-0 pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3">
                        <svg class="h-4 w-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
                        </svg>
                    </div>
                    <input type="text" id="table-search" onkeyup="FiltrarTabela(this)" 
                        class="block w-[22em] rounded-lg border border-gray-600 bg-gray-700 ps-10 pt-2 text-sm 
                                text-white placeholder-gray-400 focus:border-blue-500 focus:ring-blue-500" 
                            data-url-page="" onsubmit="ReloadList(this)" placeholder="Buscar" 
                            {%if request.GET.search %} value="{{request.GET.search }}" {% endif %}
                            onkeydown="Search(event,this)" />

                    <div class="absolute inset-y-0 end-1 flex items-center ps-3">
                        <button id="table-search-x" class="rounded px-2 py-1 backdrop-blur-sm hover:bg-red-500 hover:text-red-200">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>


            </div>

        </div>
        <div class="overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-400 overflow-x-auto">
            <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                <tr>
                    {% block 'table-model-head' %}{% endblock %}                   
                </tr>
            </thead>
            <tbody id="table-body" >
                {% block 'table-model-body' %}{% endblock %}                  
            </tbody>
        </table>

        {% block 'table-model-msg-empty' %}{% endblock %}       
        
        </div>
    </div>

    <footer class="flex-row sm:flex sm:justify-between">

        <div>
            <div class="flex justify-center w-full mt-4 sm:mt-8 ">
                <div class="h-10 justify-center items-center inline-flex rounded-lg border border-gray-700 bg-gray-800 text-white">
                <div class="border-r border-slate-600 py-1.5 px-3">Ordenar por</div>
                <select name="orderby" id="orderby" class="w-32 bg-gray-800 py-1.5 pl-3 border-0 rounded-r-lg" data-url-page="" onChange="ReloadList(this)">
                    {% for key, value in fields.items %}
                    <option value="{{ key }}" {%if request.GET.orderby == key %} selected {% endif %}  >{{ value }}</option>
                    {% endfor %}
                </select>
                </div>
            </div>
        </div>

        <nav class="flex justify-center md:justify-end text-gray-300 justify enabled:font-bold" id="nav-paginate">
            <div>
                <div class="flex justify-between py-2">
                    <span class="text-sm justify-end">Página {{page_obj.number}} de {{page_obj.paginator.num_pages}}</span>
                    <span class="text-sm justify-end">{% block 'table-model-count-footer' %}{% endblock %} de {{page_obj.paginator.count}} {{plural_name_model|lower|slice:":8"}}...</span>
                </div>
                <div class="flex items-center h-10 text-md ">

                    <button {% if page_obj.has_previous %}data-url-page="?page=1" onclick="ReloadList(this)" {%endif%}
                        class=" bg-gray-800 px-4 py-2 rounded-s-lg border border-e-0 border-gray-700 text-center disabled:cursor-not-allowed enabled:hover:text-white enabled:hover:bg-gray-700 disabled:opacity-70"
                        {% if not page_obj.has_previous %}disabled{% endif %}>&laquo</button>
                    <button {% if page_obj.has_previous %}data-url-page="?page={{ page_obj.previous_page_number }}"
                        onclick="ReloadList(this)" {%endif%}
                        class=" bg-gray-800 px-4 py-2  border border-e-0 border-gray-700 text-center  disabled:cursor-not-allowed enabled:hover:text-white enabled:hover:bg-gray-700 disabled:opacity-70"
                        {% if not page_obj.has_previous %}disabled{% endif %}>
                        < </button>

                            {% for page_number in page_obj.paginator.page_range %}
                            {% if page_number == page_obj.number %}
                            <button data-url-page="?page={{ page_number }}"
                                class=" bg-gray-600 px-4 py-2  border border-e-0 border-gray-700 text-center text-white ">{{page_number}}</button>
                            {% elif page_obj.previous_page_number|add:-1 == page_number or page_obj.next_page_number|add:1 == page_number %}
                            <button disabled
                                class=" bg-gray-800 px-4 py-2  border border-e-0 border-gray-700 text-center enabled:hover:text-white enabled:hover:bg-gray-700 cursor-not-allowed ">...</button>
                            {% elif  page_obj.previous_page_number == page_number or page_obj.next_page_number == page_number %}
                            <button data-url-page="?page={{ page_number }}" onclick="ReloadList(this)"
                                class=" bg-gray-800 px-4 py-2  border border-e-0 border-gray-700 text-center hover:text-white hover:bg-gray-700 ">{{page_number}}</button>
                            {% endif %}
                            {% endfor %}


                            <button {% if page_obj.has_next %} data-url-page="?page={{ page_obj.next_page_number }}"
                                onclick="ReloadList(this)" {%endif%}
                                class=" bg-gray-800 px-4 py-2  border border-e-0 border-gray-700 text-center  disabled:cursor-not-allowed enabled:hover:text-white enabled:hover:bg-gray-700 disabled:opacity-70"
                                {% if not page_obj.has_next %}disabled{%endif%}>></button>

                            <button {% if page_obj.has_next %}data-url-page="?page={{ page_obj.paginator.num_pages }}"
                                onclick="ReloadList(this)" {%endif%}
                                class=" bg-gray-800 px-4 py-2  border rounded-e-lg border-gray-700 text-center  disabled:cursor-not-allowed enabled:hover:text-white enabled:hover:bg-gray-700 disabled:opacity-70"
                                {% if not page_obj.has_next %}disabled{%endif%}>&raquo;</button>


                </div>

            </div>
        </nav>

    </footer>

</div>