{% extends "customers.html" %} {% block 'content' %}
<h1>{% if customer.pk %}Editar Cliente{% else %}Criar Cliente{% endif %}</h1>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<form method="post" id="customer-form">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Salvar</button>
</form>

<script>
  $(document).ready(function () {
    // Máscara para Documento
    $("#documento").keyup(function () {
      var tamanho = $("#documento").val().length;

      if (tamanho <= 14) {
        $("#documento").mask("000.000.000-000");
      } else {
        $("#documento").mask("00.000.000/0000-00");
      }
    });

    // Máscara para Telefone (com ou sem DDD)
    $("#telefone").mask("(00) 00000-0000");
  });
</script>

<script>
  async function buscarCep() {
    const cep = document.getElementById("cep").value.replace(/\D/g, ""); // Remove caracteres não numéricos

    if (cep.length !== 8) {
      alert("CEP inválido. Certifique-se de que tem 8 dígitos.");
      return;
    }

    try {
      const response = await fetch(`https://viacep.com.br/ws/${cep}/json`);
      if (!response.ok) throw new Error("Erro ao buscar o CEP.");

      const data = await response.json();
      if (data.erro) {
        alert("CEP não encontrado.");
        return;
      }

      // Preenche os campos com os dados retornados
      document.getElementById("endereco").value = data.logradouro || "";
      document.getElementById("bairro").value = data.bairro || "";
      document.getElementById("cidade").value = data.localidade || "";
      document.getElementById("id_estado").value = data.uf || "";
    } catch (error) {
      console.error("Erro ao buscar o CEP:", error);
      alert("Erro ao buscar o CEP. Tente novamente.");
    }
  }
</script>

{% endblock %}
